<div class="conteiner">
  <h2 class="section-title">
    Portfolio

  </h2>
  <swiper [slidesPerView]="'auto'" [spaceBetween]="20" class="mySwiper">
    <ng-template *ngFor="let item of dataSource; index as i" swiperSlide>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{item.img}}" alt="{{item.name}}">
        <mat-card-content>
          <p>{{item.description}}</p>
        </mat-card-content>
      </mat-card>

    </ng-template>
  </swiper>
</div>
