<nav class="navbar">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#experiencia">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#educacion">Educacion </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#portfolio">Portfolio</a>
    </li>
  </ul>
</nav>

<nav class="socialNetwork">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-social" href="https://twitter.com/elporon"  target=”_blank”><i class="bi bi-twitter"></i> </a>
    </li>
    <li class="nav-item">
      <a class="nav-social" href="https://github.com/manurua123" target=”_blank”><i class="bi bi-github"></i> </a>
    </li>
    <li class="nav-item">
      <a class="nav-social" href="https://www.linkedin.com/in/manuel-rua/" target=”_blank”><i class="bi bi-linkedin"></i> </a>
    </li>
    <li class="nav-item">
      <a class="nav-social" (click)="openDialog()" ><i class="bi bi-gear"></i></a>
    </li>
  </ul>
</nav>

<section id="experiencia">
  <app-experience></app-experience>
</section>
<section id="educacion">
  <app-education></app-education>
</section>

<section id="skills">
  <app-skills></app-skills>
</section>
<section id="portfolio">
  <app-portfolio></app-portfolio>
</section>
