<section id="#" class="home">
  <div class="conteiner">
    <p>home works!</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
      exercitationem rem illo accusamus, magni delectus ipsa a eligendi. Numquam
      maiores illum laboriosam voluptatum. Maiores itaque enim deserunt modi
      nesciunt necessitatibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
      exercitationem rem illo accusamus, magni delectus ipsa a eligendi. Numquam
      maiores illum laboriosam voluptatum. Maiores itaque enim deserunt modi
      nesciunt necessitatibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
      exercitationem rem illo accusamus, magni delectus ipsa a eligendi. Numquam
      maiores illum laboriosam voluptatum. Maiores itaque enim deserunt modi
      nesciunt necessitatibus!
    </p>
  </div>
</section>
<app-navbar></app-navbar>

