<div class="argentinaPrograma">
  <a
    href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
    target="_blank"
  >
    <img src="\assets\img\APLogo.png" />
  </a>
</div>

<section class="#" class="home">
  <div class="home-conteiner">
    <div class="home-img">
      <img src="\assets\img\foto-perfil.png" />
    </div>
    <div class="home-detail">
      <h1>Manuel Rua</h1>
      <h2>Jr. Developer</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa corrupti
        delectus, tempore ex corporis harum qui impedit doloremque reiciendis,
        asperiores amet laboriosam? Hic omnis reiciendis perspiciatis eaque! At,
        officiis pariatur!
      </p>
    </div>
  </div>
  <div class="buttonDown">
    <a href="#body">
      <button mat-icon-button>
        <mat-icon>expand_more</mat-icon>
      </button>
    </a>
  </div>
</section>

