<div class="argentinaPrograma">
  <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
    target="_blank">
    <img src="\assets\img\APLogo.png" />
  </a>
</div>

<section class="#" class="home">
  <div class="home-conteiner">
    <div class="home-img">
      <img src="\assets\img\foto-perfil.png" />
    </div>
    <div class="home-detail">
      <h1>Manuel Rua</h1>
      <h2>Jr. Developer</h2>
      <p>
        Soy una persona muy dedicada, versátil y muy buen compañero. Siempre priorizo estar en un lugar donde pueda
        aportar algo y rodearme de gente de la cual poder aprender. Mis hobbies son la domotica, el ciclismo y ultimamente el paddle.
      </p>
    </div>
  </div>
  <div class="buttonDown">
    <a href="#body">
      <button mat-icon-button>
        <mat-icon>expand_more</mat-icon>
      </button>
    </a>
  </div>
</section>
