.home {
  padding: 0px 5%;
  width: 100%;
  height: 100vh;

}
.home-conteiner {
  width: 100%;
  margin: 10% auto;
  display: flex;
}
.home-title {
  width: 100%;
  text-align: center;
  padding-top: 1%;
}
.home-img {
  width: 30%;
}

.home-img img {
  border-radius: 50%;

  width: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.home-detail {
  margin-top: 10%;
  margin-left: 10%;
  width: 50%;
}

h1 {
  font-weight: 700;
  font-size: xx-large;
}
h2 {
  font-weight: 500;
}


.argentinaPrograma{
  z-index: 999;
  border-radius: 10px;
  position: fixed;
  width: 7%;
  top:1%;
  left: 1%;
  background-color: #2fb5e5;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.argentinaPrograma img{
  width: 100%;
}
.buttonDown{
  left: 50%;
  top: 75vh;
  margin: auto;
  text-align: center;
  position: absolute;
}

.buttonDown mat-icon{
  color: #ffd369;
  transform: scale(3);


}
