<h2>Create a new owner</h2>
<form [formGroup]="requiredForm" (ngSubmit)="save()" novalidate>
  <mat-form-field appearance="outline">
    <mat-label>Puesto</mat-label>
    <input required="true" [(ngModel)]="this.dataRef.position" formControlName="position" matInput type="text"
      maxlength="60" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Empresa</mat-label>
    <input required="true" [(ngModel)]="this.dataRef.company" formControlName="company" matInput type="text"
      maxlength="60" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Web de la empresa</mat-label>
    <input [(ngModel)]="this.dataRef.companyLink" [ngModelOptions]="{standalone: true}" matInput type="text"
      maxlength="120" />
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 45%; margin-right: 5%;">
    <mat-label>Fecha de ingreo</mat-label>
    <input matInput [matDatepicker]="begin" [(ngModel)]="this.dataRef.begin" [ngModelOptions]="{standalone: true}">
    <mat-datepicker-toggle matSuffix [for]="begin"></mat-datepicker-toggle>
    <mat-datepicker #begin></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 45%; margin-left: 5%;">
    <mat-label>Fecha de fin</mat-label>
    <input matInput [matDatepicker]="end" [(ngModel)]="this.dataRef.end" [ngModelOptions]="{standalone: true}">
    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
    <mat-datepicker #end></mat-datepicker>
  </mat-form-field>

  <button [disabled]="!requiredForm.valid" mat-raised-button type="submit">
    Guardar
  </button>
</form>
