<div class="conteiner">
  <h2>Educacion works!</h2>

  <swiper [spaceBetween]="30" class="mySwiper" [slidesPerView]="'auto'">
    <ng-template swiperSlide *ngFor="let course of dataSource; index as i">
      <mat-card style="width: 100%" class="module">
        <mat-card-title>{{ course.career }}
        </mat-card-title>

        <mat-card-subtitle>

          <a class="cardImg" href="{{ course.link }}" target="_blank">
            <!-- <img src="{{ course.img }}" /> -->
            {{ course.university }}
          </a>
        </mat-card-subtitle>
        <div class="mat-description">
          <p>{{ course.description }}</p>
          <button  *ngIf="(userAuth$ | async)?.rol == 'admin' " mat-icon-button (click)="openDialog(course)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="mat-info"></div>
        <div *ngIf="course.certification">
          <a href="{{ course.certification }}" target="_blank">
            <button mat-stroked-button color="warning">Certificado</button></a
          >
        </div>
        <mat-progress-bar
          color="accent"
          mode="determinate"
          value="{{ course.progress }}"
        ></mat-progress-bar>
      </mat-card>
    </ng-template>
    <ng-template swiperSlide>
      <button  *ngIf="(userAuth$ | async)?.rol == 'admin' " mat-icon-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </swiper>
</div>
