

.conteiner {
  padding: 5vh 0;
  margin: auto;
  position: relative;
}

.education {
  padding-bottom: 6em;
}

.education .dates {
  text-align: center;
  padding-top: 1em;
  width: 20%;
  float: left;
}
.education .career {
  width: 80%;
  float: left;
}
.education .career img{
  margin-top: 0.5em;
  margin-right: 1em;
  width: 2em;
  float: left;
}

.education .career h3 {
  margin: 0px;
  margin-bottom: 0.1em;
  font-size: x-large;
  font-weight: 600;
}
.education .career a {
  text-decoration: none;
  color: #eeeeee;
}
.education .career a:hover {
  text-decoration: none;
  color: #ffd369;
  background-color: transparent;
}


.section-title{
  font-size: xx-large;
  font-weight: 700;
  margin-bottom: 2em;
}
.add{
  position:absolute;
  right: 10%;
}
