<div class="conteiner">
  <h2 class="section-title">Tegnologias y Habilidades</h2>
  <div class="skill-conteiner">
    <div class="skill-tittle" *ngFor="let cat of categorias">
      <mat-icon class="skill-tittle-icon">{{ cat.icon }} </mat-icon>
      <h3>{{ cat.name }}</h3>
      <div class="skill-list" >
        <div class="skill-item" *ngFor="let skill of filterArray(cat.name)">
          <a href="{{ skill.link }}"><img src="{{ skill.img }}" /></a>
          <button mat-mini-fab color="accent">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
