<div class="conteiner">
  <h2 class="section-title">
    Experiencia Laboral

  </h2>

  <div *ngFor="let experence of dataSource; index as i">
    <div class="experence">
      <div class="dates">
        <p>
          {{ getYear(experence.begin) }}
          <span *ngIf="experence.end"> - {{ getYear(experence.end) }}</span>
          <span *ngIf="!experence.end"> - act.</span>
        </p>
      </div>
      <div class="position">
        <h3>
          {{ experence.position }}
          <button
            matTooltip="Editar componente"
            *ngIf="(userAuth$ | async)?.rol !== 'admin'"
            mat-icon-button
            color="accent"
            (click)="openDialog(experence)"
          >
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
          <button
            matTooltip="Eliminar componente"
            *ngIf="(userAuth$ | async)?.rol !== 'admin'"
            mat-icon-button
            color="accent"
            (click)="delete(experence)"
          >
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </h3>
        <h4>
          <a
            *ngIf="experence.companyLink"
            href="{{ experence.companyLink }}"
            target="”_blank”"
          >
            {{ experence.company }}</a
          >
          <span *ngIf="!experence.companyLink"> {{ experence.company }} </span>
        </h4>
      </div>
    </div>
  </div>
  <button
  matTooltip="Agregar componente"
  mat-mini-fab
  color="accent"
  class="add"
  *ngIf="(userAuth$ | async)?.rol !== 'admin'"
  (click)="openDialog()"
>
   <mat-icon> add</mat-icon>
</button>
</div>
